doctype html
html
  head
    meta(name='HandheldFriendly', content='True')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Umair Abid
    meta(name='description', content='')
    link(href='main.css', rel='stylesheet', type='text/css')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js')
    script(type='text/javascript' src='https://html2canvas.hertzen.com/dist/html2canvas.js')
    script(type='text/javascript' src='main.js')
  body

    section.html-content
      sidebar
        h1 Umair Abid
        h2 Software Engineer
        h2.section-head Personal Info
        each info in contactInfo
          h4 #{info.name}
          if info.value.startsWith('http')
            a(href=info.value target="_blank") #{info.value}
          else
            p #{info.value}

        h2.section-head Skills
        each skill in skills
          .skill-label #{skill.name}
          .skill
            .skill-percentage(class=skill.level)
      article
        p #{summary}
        h2 Experience
        each e in experiences
          .section
            .dates #{e.from} - #{e.to}
            .content
              h3 #{e.title}
              i #{e.company}
              ul
                each i in e.summary
                  li #{i}
              .skills
                strong Skills: 
                span #{e.skills.join(', ')}
        h2 Education
        each e in educations
          .section
            .dates #{e.from} - #{e.to}
            .content
              h3 #{e.institute}
              ul
                each i in e.summary
                  li #{i}
